<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.starcharge.delivery.mapper.CdAppEnvClusterRelationMapper">

	<resultMap id="cdAppEnvClusterRelationMapper" type="CdAppEnvClusterRelationDO">
        <result property="id" column="id"/>
        <result property="appName" column="app_name"/>
        <result property="env" column="env"/>
        <result property="subEnv" column="sub_env"/>
        <result property="clusterId" column="cluster_id"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
        <result property="isDeleted" column="is_deleted"/>
	</resultMap>


	<sql id="_fields">
		id,app_name,env,sub_env,cluster_id,create_user,update_user,create_time,update_time,version,is_deleted
	</sql>

	<sql id="_condition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id!=null">
				AND id = #{id}
			</if>
            <if test="appName!=null and ''!=appName">
				AND app_name = #{appName}
			</if>
            <if test="env!=null and ''!=env">
				AND env = #{env}
			</if>
            <if test="subEnv!=null and ''!=subEnv">
				AND sub_env = #{subEnv}
			</if>
            <if test="clusterId!=null">
				AND cluster_id = #{clusterId}
			</if>
            <if test="createUser!=null and ''!=createUser">
				AND create_user = #{createUser}
			</if>
            <if test="updateUser!=null and ''!=updateUser">
				AND update_user = #{updateUser}
			</if>
            <if test="createTime!=null and ''!=createTime">
				<![CDATA[AND create_time >= #{dynamicFields_startTime}]]>
			</if>
            <if test="createTime!=null and ''!=createTime">
				<![CDATA[AND create_time < #{dynamicFields_endTime}]]>
			</if>
            <if test="updateTime!=null and ''!=updateTime">
				<![CDATA[AND update_time >= #{dynamicFields_startTime}]]>
			</if>
            <if test="updateTime!=null and ''!=updateTime">
				<![CDATA[AND update_time < #{dynamicFields_endTime}]]>
			</if>
            <if test="version!=null">
				AND version = #{version}
			</if>
            <if test="isDeleted!=null">
				AND is_deleted = #{isDeleted}
			</if>
		</trim>
	</sql>

	<sql id="_primaryKey_condition">
		WHERE id = #{id}
	</sql>

	<sql id="_order">
        <if test="sortByParams!= null and sortByParams.size()>0" >
            ORDER BY
            <foreach collection="sortByParams.keys" index="index" item="sortByParamKey" separator=",">
                <![CDATA[${sortByParamKey} ${sortByParams[sortByParamKey]}]]>
            </foreach>
        </if>
	</sql>

    <insert id="add" parameterType="CdAppEnvClusterRelationDO" keyProperty="id">
        INSERT INTO cd_app_env_cluster_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				id,
			</if>
            <if test="appName!=null and ''!=appName">
				app_name,
			</if>
            <if test="env!=null and ''!=env">
				env,
			</if>
            <if test="subEnv!=null and ''!=subEnv">
				sub_env,
			</if>
            <if test="clusterId!=null">
				cluster_id,
			</if>
            <if test="createUser!=null and ''!=createUser">
				create_user,
			</if>
            <if test="updateUser!=null and ''!=updateUser">
				update_user,
			</if>
            <if test="createTime!=null and ''!=createTime">
				create_time,
			</if>
            <if test="updateTime!=null and ''!=updateTime">
				update_time,
			</if>
            <if test="version!=null">
				version,
			</if>
            <if test="isDeleted!=null">
				is_deleted,
			</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				#{id},
			</if>
            <if test="appName!=null and ''!=appName">
				#{appName},
			</if>
            <if test="env!=null and ''!=env">
				#{env},
			</if>
            <if test="subEnv!=null and ''!=subEnv">
				#{subEnv},
			</if>
            <if test="clusterId!=null">
				#{clusterId},
			</if>
            <if test="createUser!=null and ''!=createUser">
				#{createUser},
			</if>
            <if test="updateUser!=null and ''!=updateUser">
				#{updateUser},
			</if>
            <if test="createTime!=null and ''!=createTime">
				#{createTime},
			</if>
            <if test="updateTime!=null and ''!=updateTime">
				#{updateTime},
			</if>
            <if test="version!=null">
				#{version},
			</if>
            <if test="isDeleted!=null">
				#{isDeleted},
			</if>
        </trim>
    </insert>

    <update id="update" parameterType="CdAppEnvClusterRelationDO">
        UPDATE cd_app_env_cluster_relation
        <set>
            <if test="appName!=null and ''!=appName">
				app_name = #{appName},
			</if>
            <if test="env!=null and ''!=env">
				env = #{env},
			</if>
            <if test="subEnv!=null and ''!=subEnv">
				sub_env = #{subEnv},
			</if>
            <if test="clusterId!=null">
				cluster_id = #{clusterId},
			</if>
            <if test="createUser!=null and ''!=createUser">
				create_user = #{createUser},
			</if>
            <if test="updateUser!=null and ''!=updateUser">
				update_user = #{updateUser},
			</if>
            <if test="createTime!=null and ''!=createTime">
				create_time = #{createTime},
			</if>
            <if test="updateTime!=null and ''!=updateTime">
				update_time = #{updateTime},
			</if>
            <if test="version!=null">
				version = #{version},
			</if>
            <if test="isDeleted!=null">
				is_deleted = #{isDeleted},
			</if>
        </set>
        <include refid="_primaryKey_condition"/>
    </update>

    <select id="get" resultMap="cdAppEnvClusterRelationMapper" parameterType="CdAppEnvClusterRelationDO">
        SELECT
        <include refid="_fields"/>
        FROM cd_app_env_cluster_relation
        <include refid="_primaryKey_condition"/>
    </select>

    <select id="list" resultMap="cdAppEnvClusterRelationMapper" parameterType="CdAppEnvClusterRelationDO">
        SELECT
        <include refid="_fields"/>
        FROM cd_app_env_cluster_relation
        <include refid="_condition"/>
	    <include refid="_order"/>
    </select>

    <select id="listByPage" resultMap="cdAppEnvClusterRelationMapper" parameterType="CdAppEnvClusterRelationDO">
        SELECT
        <include refid="_fields"/>
        FROM cd_app_env_cluster_relation
        <include refid="_condition"/>
        <include refid="_order"/>
        <if test="startRecord != null and pageSize != null and pageSize >0">
            limit #{startRecord},#{pageSize}
        </if>
	    <if test="!(startRecord != null and pageSize != null and pageSize >0)">
		    limit 0,15
	    </if>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="CdAppEnvClusterRelationDO">
        SELECT
        COUNT(*)
        FROM cd_app_env_cluster_relation
        <include refid="_condition"/>
    </select>

    <delete id="delete" parameterType="CdAppEnvClusterRelationDO">
        DELETE FROM cd_app_env_cluster_relation
        <include refid="_primaryKey_condition"/>
    </delete>

</mapper>