<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.starcharge.delivery.mapper.ClusterInfoMapper">

	<resultMap id="clusterInfoMapper" type="com.starcharge.delivery.domain.ClusterInfoDO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="frontendName" column="frontend_name"/>
        <result property="cloud" column="cloud"/>
        <result property="profiles" column="profiles"/>
        <result property="k8sApiServer" column="k8s_api_server"/>
        <result property="connectorNodeIp" column="connector_node_ip"/>
        <result property="harborPush" column="harbor_push"/>
        <result property="harborPull" column="harbor_pull"/>
        <result property="harborRegion" column="harbor_region"/>
        <result property="clusterRegion" column="cluster_region"/>
        <result property="catPull" column="cat_pull"/>
        <result property="catServerIp" column="cat_server_ip"/>
        <result property="country" column="country"/>
        <result property="region" column="region"/>
        <result property="logProjectMeteor" column="log_project_meteor"/>
        <result property="logProjectFramecore" column="log_project_framecore"/>
        <result property="webShell" column="web_shell"/>
        <result property="desc" column="desc"/>
        <result property="isDeleted" column="is_deleted"/>
	</resultMap>


	<sql id="_fields">
		id,`name`,frontend_name,cloud,`profiles`,k8s_api_server,connector_node_ip,harbor_push,harbor_pull,harbor_region,cluster_region,cat_pull,cat_server_ip,country,region,log_project_meteor,log_project_framecore,web_shell,`desc`,is_deleted
	</sql>

	<sql id="_condition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id!=null">
				AND id = #{id}
			</if>
            <if test="name!=null and ''!=name">
				AND `name` = #{name}
			</if>
            <if test="frontendName!=null and ''!=frontendName">
				AND frontend_name = #{frontendName}
			</if>
            <if test="cloud!=null and ''!=cloud">
				AND cloud = #{cloud}
			</if>
            <if test="profiles!=null and ''!=profiles">
				AND `profiles` = #{profiles}
			</if>
            <if test="k8sApiServer!=null and ''!=k8sApiServer">
				AND k8s_api_server = #{k8sApiServer}
			</if>
            <if test="connectorNodeIp!=null and ''!=connectorNodeIp">
				AND connector_node_ip = #{connectorNodeIp}
			</if>
            <if test="harborPush!=null and ''!=harborPush">
				AND harbor_push = #{harborPush}
			</if>
            <if test="harborPull!=null and ''!=harborPull">
				AND harbor_pull = #{harborPull}
			</if>
            <if test="harborRegion!=null and ''!=harborRegion">
				AND harbor_region = #{harborRegion}
			</if>
            <if test="clusterRegion!=null and ''!=clusterRegion">
				AND cluster_region = #{clusterRegion}
			</if>
            <if test="catPull!=null and ''!=catPull">
				AND cat_pull = #{catPull}
			</if>
            <if test="catServerIp!=null and ''!=catServerIp">
				AND cat_server_ip = #{catServerIp}
			</if>
            <if test="country!=null and ''!=country">
				AND country = #{country}
			</if>
            <if test="region!=null and ''!=region">
				AND region = #{region}
			</if>
            <if test="logProjectMeteor!=null and ''!=logProjectMeteor">
				AND log_project_meteor = #{logProjectMeteor}
			</if>
            <if test="logProjectFramecore!=null and ''!=logProjectFramecore">
				AND log_project_framecore = #{logProjectFramecore}
			</if>
            <if test="webShell!=null and ''!=webShell">
				AND web_shell = #{webShell}
			</if>
            <if test="desc!=null and ''!=desc">
				AND `desc` = #{desc}
			</if>
            <if test="isDeleted!=null">
				AND is_deleted = #{isDeleted}
			</if>
		</trim>
	</sql>

	<sql id="_primaryKey_condition">
		WHERE id = #{id}
	</sql>

	<sql id="_order">
        <if test="sortByParams!= null and sortByParams.size()>0" >
            ORDER BY
            <foreach collection="sortByParams.keys" index="index" item="sortByParamKey" separator=",">
                <![CDATA[${sortByParamKey} ${sortByParams[sortByParamKey]}]]>
            </foreach>
        </if>
	</sql>

    <insert id="insert" parameterType="ClusterInfoDO" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO cluster_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				id,
			</if>
            <if test="name!=null and ''!=name">
				`name`,
			</if>
            <if test="frontendName!=null and ''!=frontendName">
				frontend_name,
			</if>
            <if test="cloud!=null and ''!=cloud">
				cloud,
			</if>
            <if test="profiles!=null and ''!=profiles">
				`profiles`,
			</if>
            <if test="k8sApiServer!=null and ''!=k8sApiServer">
				k8s_api_server,
			</if>
            <if test="connectorNodeIp!=null and ''!=connectorNodeIp">
				connector_node_ip,
			</if>
            <if test="harborPush!=null and ''!=harborPush">
				harbor_push,
			</if>
            <if test="harborPull!=null and ''!=harborPull">
				harbor_pull,
			</if>
            <if test="harborRegion!=null and ''!=harborRegion">
				harbor_region,
			</if>
            <if test="clusterRegion!=null and ''!=clusterRegion">
				cluster_region,
			</if>
            <if test="catPull!=null and ''!=catPull">
				cat_pull,
			</if>
            <if test="catServerIp!=null and ''!=catServerIp">
				cat_server_ip,
			</if>
            <if test="country!=null and ''!=country">
				country,
			</if>
            <if test="region!=null and ''!=region">
				region,
			</if>
            <if test="logProjectMeteor!=null and ''!=logProjectMeteor">
				log_project_meteor,
			</if>
            <if test="logProjectFramecore!=null and ''!=logProjectFramecore">
				log_project_framecore,
			</if>
            <if test="webShell!=null and ''!=webShell">
				web_shell,
			</if>
            <if test="desc!=null and ''!=desc">
				`desc`,
			</if>
            <if test="isDeleted!=null">
				is_deleted,
			</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				#{id},
			</if>
            <if test="name!=null and ''!=name">
				#{name},
			</if>
            <if test="frontendName!=null and ''!=frontendName">
				#{frontendName},
			</if>
            <if test="cloud!=null and ''!=cloud">
				#{cloud},
			</if>
            <if test="profiles!=null and ''!=profiles">
				#{profiles},
			</if>
            <if test="k8sApiServer!=null and ''!=k8sApiServer">
				#{k8sApiServer},
			</if>
            <if test="connectorNodeIp!=null and ''!=connectorNodeIp">
				#{connectorNodeIp},
			</if>
            <if test="harborPush!=null and ''!=harborPush">
				#{harborPush},
			</if>
            <if test="harborPull!=null and ''!=harborPull">
				#{harborPull},
			</if>
            <if test="harborRegion!=null and ''!=harborRegion">
				#{harborRegion},
			</if>
            <if test="clusterRegion!=null and ''!=clusterRegion">
				#{clusterRegion},
			</if>
            <if test="catPull!=null and ''!=catPull">
				#{catPull},
			</if>
            <if test="catServerIp!=null and ''!=catServerIp">
				#{catServerIp},
			</if>
            <if test="country!=null and ''!=country">
				#{country},
			</if>
            <if test="region!=null and ''!=region">
				#{region},
			</if>
            <if test="logProjectMeteor!=null and ''!=logProjectMeteor">
				#{logProjectMeteor},
			</if>
            <if test="logProjectFramecore!=null and ''!=logProjectFramecore">
				#{logProjectFramecore},
			</if>
            <if test="webShell!=null and ''!=webShell">
				#{webShell},
			</if>
            <if test="desc!=null and ''!=desc">
				#{desc},
			</if>
            <if test="isDeleted!=null">
				#{isDeleted},
			</if>
        </trim>
    </insert>

    <update id="update" parameterType="ClusterInfoDO">
        UPDATE cluster_info
        <set>
            <if test="name!=null and ''!=name">
				`name` = #{name},
			</if>
            <if test="frontendName!=null and ''!=frontendName">
				frontend_name = #{frontendName},
			</if>
            <if test="cloud!=null and ''!=cloud">
				cloud = #{cloud},
			</if>
            <if test="profiles!=null and ''!=profiles">
				`profiles` = #{profiles},
			</if>
            <if test="k8sApiServer!=null and ''!=k8sApiServer">
				k8s_api_server = #{k8sApiServer},
			</if>
            <if test="connectorNodeIp!=null and ''!=connectorNodeIp">
				connector_node_ip = #{connectorNodeIp},
			</if>
            <if test="harborPush!=null and ''!=harborPush">
				harbor_push = #{harborPush},
			</if>
            <if test="harborPull!=null and ''!=harborPull">
				harbor_pull = #{harborPull},
			</if>
            <if test="harborRegion!=null and ''!=harborRegion">
				harbor_region = #{harborRegion},
			</if>
            <if test="clusterRegion!=null and ''!=clusterRegion">
				cluster_region = #{clusterRegion},
			</if>
            <if test="catPull!=null and ''!=catPull">
				cat_pull = #{catPull},
			</if>
            <if test="catServerIp!=null and ''!=catServerIp">
				cat_server_ip = #{catServerIp},
			</if>
            <if test="country!=null and ''!=country">
				country = #{country},
			</if>
            <if test="region!=null and ''!=region">
				region = #{region},
			</if>
            <if test="logProjectMeteor!=null and ''!=logProjectMeteor">
				log_project_meteor = #{logProjectMeteor},
			</if>
            <if test="logProjectFramecore!=null and ''!=logProjectFramecore">
				log_project_framecore = #{logProjectFramecore},
			</if>
            <if test="webShell!=null and ''!=webShell">
				web_shell = #{webShell},
			</if>
            <if test="desc!=null and ''!=desc">
				`desc` = #{desc},
			</if>
            <if test="isDeleted!=null">
				is_deleted = #{isDeleted},
			</if>
        </set>
        <include refid="_primaryKey_condition"/>
    </update>

    <select id="get" resultMap="clusterInfoMapper" parameterType="long">
        SELECT
        <include refid="_fields"/>
        FROM cluster_info
        <include refid="_primaryKey_condition"/>
    </select>

    <select id="list" resultMap="clusterInfoMapper" parameterType="ClusterInfoDO">
        SELECT
        <include refid="_fields"/>
        FROM cluster_info
        <include refid="_condition"/>
	    <include refid="_order"/>
    </select>

    <select id="listByPage" resultMap="clusterInfoMapper" parameterType="ClusterInfoDO">
        SELECT
        <include refid="_fields"/>
        FROM cluster_info
        <include refid="_condition"/>
        <include refid="_order"/>
        <if test="startRecord != null and pageSize != null and pageSize >0">
            limit #{startRecord},#{pageSize}
        </if>
	    <if test="!(startRecord != null and pageSize != null and pageSize >0)">
		    limit 0,15
	    </if>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="ClusterInfoDO">
        SELECT
        COUNT(*)
        FROM cluster_info
        <include refid="_condition"/>
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM cluster_info
        <include refid="_primaryKey_condition"/>
    </delete>

</mapper>