<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.starcharge.delivery.mapper.ConsulInfoMapper">

	<resultMap id="consulInfoMapper" type="ConsulInfoDO">
        <result property="id" column="id"/>
        <result property="consulServerIp" column="consul_server_ip"/>
        <result property="dataDir" column="data_dir"/>
        <result property="encrypt" column="encrypt"/>
        <result property="dataCenterName" column="data_center_name"/>
        <result property="desc" column="desc"/>
        <result property="profile" column="profile"/>
        <result property="isDeleted" column="is_deleted"/>
	</resultMap>


	<sql id="_fields">
		id,consul_server_ip,data_dir,encrypt,data_center_name,`desc`,`profile`,is_deleted
	</sql>

	<sql id="_condition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id!=null">
				AND id = #{id}
			</if>
            <if test="consulServerIp!=null and ''!=consulServerIp">
				AND consul_server_ip = #{consulServerIp}
			</if>
            <if test="dataDir!=null and ''!=dataDir">
				AND data_dir = #{dataDir}
			</if>
            <if test="encrypt!=null and ''!=encrypt">
				AND encrypt = #{encrypt}
			</if>
            <if test="dataCenterName!=null and ''!=dataCenterName">
				AND data_center_name = #{dataCenterName}
			</if>
            <if test="desc!=null and ''!=desc">
				AND `desc` = #{desc}
			</if>
            <if test="profile!=null and ''!=profile">
				AND `profile` = #{profile}
			</if>
            <if test="isDeleted!=null">
				AND is_deleted = #{isDeleted}
			</if>
		</trim>
	</sql>

	<sql id="_primaryKey_condition">
		WHERE id = #{id}
	</sql>

	<sql id="_order">
        <if test="sortByParams!= null and sortByParams.size()>0" >
            ORDER BY
            <foreach collection="sortByParams.keys" index="index" item="sortByParamKey" separator=",">
                <![CDATA[${sortByParamKey} ${sortByParams[sortByParamKey]}]]>
            </foreach>
        </if>
	</sql>

    <insert id="add" parameterType="ConsulInfoDO" keyProperty="id">
        INSERT INTO consul_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				id,
			</if>
            <if test="consulServerIp!=null and ''!=consulServerIp">
				consul_server_ip,
			</if>
            <if test="dataDir!=null and ''!=dataDir">
				data_dir,
			</if>
            <if test="encrypt!=null and ''!=encrypt">
				encrypt,
			</if>
            <if test="dataCenterName!=null and ''!=dataCenterName">
				data_center_name,
			</if>
            <if test="desc!=null and ''!=desc">
				`desc`,
			</if>
            <if test="profile!=null and ''!=profile">
				`profile`,
			</if>
            <if test="isDeleted!=null">
				is_deleted,
			</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null">
				#{id},
			</if>
            <if test="consulServerIp!=null and ''!=consulServerIp">
				#{consulServerIp},
			</if>
            <if test="dataDir!=null and ''!=dataDir">
				#{dataDir},
			</if>
            <if test="encrypt!=null and ''!=encrypt">
				#{encrypt},
			</if>
            <if test="dataCenterName!=null and ''!=dataCenterName">
				#{dataCenterName},
			</if>
            <if test="desc!=null and ''!=desc">
				#{desc},
			</if>
            <if test="profile!=null and ''!=profile">
				#{profile},
			</if>
            <if test="isDeleted!=null">
				#{isDeleted},
			</if>
        </trim>
    </insert>

    <update id="update" parameterType="ConsulInfoDO">
        UPDATE consul_info
        <set>
            <if test="consulServerIp!=null and ''!=consulServerIp">
				consul_server_ip = #{consulServerIp},
			</if>
            <if test="dataDir!=null and ''!=dataDir">
				data_dir = #{dataDir},
			</if>
            <if test="encrypt!=null and ''!=encrypt">
				encrypt = #{encrypt},
			</if>
            <if test="dataCenterName!=null and ''!=dataCenterName">
				data_center_name = #{dataCenterName},
			</if>
            <if test="desc!=null and ''!=desc">
				`desc` = #{desc},
			</if>
            <if test="profile!=null and ''!=profile">
				`profile` = #{profile},
			</if>
            <if test="isDeleted!=null">
				is_deleted = #{isDeleted},
			</if>
        </set>
        <include refid="_primaryKey_condition"/>
    </update>

    <select id="get" resultMap="consulInfoMapper" parameterType="ConsulInfoDO">
        SELECT
        <include refid="_fields"/>
        FROM consul_info
        <include refid="_primaryKey_condition"/>
    </select>

    <select id="list" resultMap="consulInfoMapper" parameterType="ConsulInfoDO">
        SELECT
        <include refid="_fields"/>
        FROM consul_info
        <include refid="_condition"/>
	    <include refid="_order"/>
    </select>

    <select id="listByPage" resultMap="consulInfoMapper" parameterType="ConsulInfoDO">
        SELECT
        <include refid="_fields"/>
        FROM consul_info
        <include refid="_condition"/>
        <include refid="_order"/>
        <if test="startRecord != null and pageSize != null and pageSize >0">
            limit #{startRecord},#{pageSize}
        </if>
	    <if test="!(startRecord != null and pageSize != null and pageSize >0)">
		    limit 0,15
	    </if>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="ConsulInfoDO">
        SELECT
        COUNT(*)
        FROM consul_info
        <include refid="_condition"/>
    </select>

    <delete id="delete" parameterType="ConsulInfoDO">
        DELETE FROM consul_info
        <include refid="_primaryKey_condition"/>
    </delete>

</mapper>